
*.class
*.jar
*.war
copyright.json
**/src/webui/bin
**/.vscode
**/.idea
**/.settings
src/appscan-config.xml
src/appscan-config.xml
src/appscan-config.xml
src/appscan-config.xml
src/src_2023-02-21_17-13-54_logs.zip
src/src_2023-02-21_17-13-54.irx
src/src_2023-02-21_16-27-00_logs.zip
src/src_2023-02-21_16-27-00.irx
*.woff2
*.woff
*.map
src/Z-OS-Connect-Customer-Services-Interface/maven.txt
src/Z-OS-Connect-Customer-Services-Interface/pomSafe.xml
src/Z-OS-Connect-Payment-Interface/pomSafe.xml
src/bank-application-frontend/.whitesource
CSAR-CBSA.xml
CSAR-CBSA.xml.out
appscan-config.xml
appscan-config.xml

target/
**/target/
**/target
