
*.class
*.jar
*.war
copyright.json
**/src/webui/bin
**/.vscode
**/.idea
**/.settings
**/appscan-config.xml
src/*logs.zip
src/*.irx
*.woff2
*.woff
*.map
**/pomSafe.xml
**/maven.txt
**/.whitesource
CSAR-CBSA.xml
CSAR-CBSA.xml.out