@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use './mixins.scss' as *;
@use './overrides.scss';

// .landing-page__illo {
//   max-width: 100%;
// }

// .landing-page__banner {
//   padding-top: $spacing-09;
//   padding-bottom: $spacing-09;
//   padding-left: $spacing-06;
//   @include landing-page-background;
// }

// .landing-page__heading {
//   @include type-style('productive-heading-05');
// }

// .landing-page__r2 {
//   margin-top: rem(-40px);
// }

// .tabs-group-content {
//   padding: $spacing-10 $spacing-06;
// }

// .landing-page__subheading {
//   @include type-style('productive-heading-03');

//   font-weight: 600;
// }

// .landing-page__p {
//   @include type-style('productive-heading-03');
//   margin-top: $spacing-06;
//   margin-bottom: $spacing-08;

//   @include breakpoint-between((320px + 1), md) {
//     max-width: 75%;
//   }
// }

// .landing-page__r3 {
//   padding-top: 3.3cm;
//   padding-bottom: 3.3cm;
//   padding-left: $spacing-06;
//   @include landing-page-background;
// }

// .landing-page__label {
//   @include type-style('heading-01');
// }

// .tabs-group {
//   background-color: $layer-01;
// }

// .half-width {
//   height: 1.5px;
//   background-color: #f4f4f4;
//   border: none;
//   margin: 0cm;
// }

//  .cds--modal-container,
//  .cds--modal-container--md {
//    background-color: #d8fce4;
//    padding-left: 5%;
//  }

//  .cds--modal-container,
//  .cds--modal-container--md {
//    background-color: #f4f4f4;
//    padding-left: 5%;
//  }

// .cds--actionable-notification,
// .cds--actionable-notification--toast,
// .cds--actionable-notification--low-contrast,
// .cds--actionable-notification--success {
//   min-width: 16.6cm;
//   min-height: 8.8cm;
//   position: fixed;
//   top: 37%;
//   left: 35.8%;
//   margin-top: -50px;
//   margin-left: -100px;
//   z-index: 100;
//   // background-blend-mode: darken;
//   }

// .cds--toast-notification,
// .cds--toast-notification--low-contrast,
// .cds--toast-notification--success {
//   min-width: 16.6cm;
//    min-height: 8.8cm;
//    position: fixed;
//    top: 37%;
//    left: 35.8%;
//    margin-top: -50px;
//    margin-left: -100px;
//    z-index: 100;
// }

// .landing-page__banner,
// .landing-page__r2,
// .landing-page__r3 {
//   margin-left: -20px;
//   margin-right: -20px;

//   @include breakpoint-down(md) {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }

.content-parent {
  width: 1750px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 60%;
  height: 100%;
  padding-left: 25px;
}

.right-content {
  width: 50%;
  height: 100%;
  text-align: center;
}

.left-form {
  width: 404px;
}
.right-form {
  margin-left: 230px;
  width: 404px;
}

.customer-img {
  width: 90%;
  height: 90%;
}
