@use '@carbon/react/scss/colors';

// overriding header tooltip bg color
// because the navigation is dark themed while the content is white
// which means the dark theme tooltip bg blends into the white content bg
.cds--header__global .cds--popover-content {
  background-color: colors.$gray-20;
}

.cds--header__global .cds--popover-caret {
  background-color: colors.$gray-20;
}

button.cds--header__action.cds--header__action__search {
  display: flex;
  height: 100%;
  flex: 1 1;
  justify-content: flex-end;
  width: 850px;
}

button.cds--btn.cds--btn--primary.cds--btn--primary--submit {
  margin-top: 2px;
  width: 100%;
}
