<!DOCTYPE html>
<!--                                                                 -->
<!--  Copyright contributors to the CICS Banking Sample Application (CBSA) project-->
<!--                                                                 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Payment interface</title>
</head>

<body style="background-color: rgb(196, 224, 233);">
    <div class="main-body">
        <div class="centre" style="background-color: white;">
            <form class="bx--form-item form" action="/paydbcr" th:action="@{/paydbcr}" th:object="${transferForm}"
                method="post">
                <table>
                    <tr>
                        <td>
                            <h1>Payment Interface</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>Account number:</td>
                        <td><input class="bx--text-input" type="number" th:field="*{acctNumber}" /></td>
                        <td class="danger" th:if="${#fields.hasErrors('acctNumber')}" th:errors="*{acctNumber}">Account
                            Number Error</td>
                    </tr>
                    <td>Payment  type:</td>
                    <td>
                        <div class="bx--radio-button-group  bx--radio-button-group--vertical">
                            <div class="bx--radio-button-wrapper">
                                <input type="radio" th:field="*{debit}" th:value="true">
                                <label class="bx--radio-button__label-text" th:for="debit" th:text="Debit"></label>
                                <input type="radio" th:field="*{debit}" th:value="false">
                                <label class="bx--radio-button__label-text" th:for="debit" th:text="Credit"></label>
                            </div>
                        </div>
                    </td>
                    <tr>
                        <td>Payment amount:</td>
                        <td><input class="bx--text-input" type="text" th:field="*{amount}" /></td>
                        <td class="danger" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error
                        </td>
                    </tr>
                    <tr>
                        <td>Organisation name:</td>
                        <td><input class="bx--text-input" type="text" th:field="*{organisation}" /></td>
                        <td class="danger" th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}">
                            Organisation Error</td>
                    </tr>
                    <tr>
                        <td><button class="bx--btn bx--btn--primary" type="submit">Submit</button></td>
                    </tr>
                </table>
            </form>
            <div class="results-box" th:if="${results == true}">
                <h1 th:text="${largeText}"></h1>
                <p th:text="${smallText}"></p>
            </div>
        </div>
    </div>
</body>

</html>