//   Copyright IBM Corp. 2023

@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use './mixins.scss' as *;
@use './overrides.scss';

.control-panel-parent {
  display: flex;
  justify-content: space-between;
  width: 105rem;
}

.control-panel-left-child {
  width: 50%;
}

.control-panel-right-child {
  width: 55%;
  margin-right: 75px;
}

a.cds--header__name.white-background {
  color: #0f62fe;
  padding: 0 0 0 0;
}

.lower-content {
  width: 100%;
  height: 100%;
}

div.gap {
  margin-top: 150px;
  width: 98%;
}

.customer-list-view {
  margin-top: 30px;
  width: 100px;
}

.upper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left-part {
  width: 15%;
}

.right-part {
  width: 84%;
  height: 250px;
  margin-right: 35px;
  text-align: center;
}

.bee {
  width: 65%;
  height: 100%;
}

a.cds--header__name.white-background {
  color: #0f62fe;
  padding: 0 0 0 0;
}

p.account-details {
  padding-top: 15px;
  padding-left: 0px;
  height: 48px;
  border-bottom: 1px solid #e0e0e0;

}



.displayModal {
  margin-right: -10px;
  border-bottom: 1px solid #e0e0e0;
}

.sortcode-update {
  margin-bottom: 1rem;
}
