/*
 *
 *    Copyright contributors to the CICS Banking Sample Application (CBSA) project
 *
 */
:root {
    --box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.25);
    --red-60: #da1e28;
    --green-60: #198038;
}

body {
    background-color: rgb(178, 230, 219);
    margin: 0;
    padding: 0;
}

.main-body {
    margin: 0;
    padding: 20vh 0;
    display: flex;
}

body > * > * > * > div {
    background-color: white;
}

form {
    background-color: white;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.homepage-title {
    box-shadow: var(--box-shadow);
    margin: 1%;
    padding: 1em;
    background-color: white;
    text-align: center;
    /* Matches up with the boxes below */
    width: 98%;
}

.options-box {
    width: 80vw;
    display: flex;
    flex-wrap: nowrap;
}

.options-box > div {
    display: flex;
    margin: 1%;
    padding: 1em;
    width: 50%;
    height: 20%;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: var(--box-shadow)
}

.options-box > div > h1 {
    width: 100%;
    text-align: center;
}

.options-box > div > a {
    margin: 1em;
}

.options-box > div > a > button {
    width: 100%;
}

.form {
    box-shadow: var(--box-shadow);
    width: 75vw;
}
  
.results-box {
    box-shadow: var(--box-shadow);
    background-color: white;
    width: 75vw;
    margin-top: 1em;
    padding: 1em;
    overflow-wrap: anywhere;
}

td {
    padding: 1em;
}

.danger {
    color: var(--red-60);
}

.success {
    color: var(--green-60);
}