<!DOCTYPE html>
<!--                                                                 -->
<!--  Copyright IBM Corp. 2022                                       -->
<!--                                                                 -->
<!--                                                                 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Account/Customer management utility</title>
</head>

<body>
    <div class="main-body">
        <div class="centre">
            <h1 class="homepage-title">Customer Services</h1>
            <div class="options-box">
                <div>
                    <h1>Customer functions</h1>
                    <a th:href="@{/createcust}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            Create customer
                        </button>
                    </a>

                    <a th:href="@{/enqcust}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            View customer details
                        </button>
                    </a>

                    <a th:href="@{/updatecust}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            Update customer details
                        </button>
                    </a>
                    <a th:href="@{/delcust}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            Delete customer
                        </button>
                    </a>
                    <a th:href="@{/listacc}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            List accounts belonging to customer
                        </button>
                    </a>
                </div>
                <div>
                    <h1>Account functions</h1>
                    <a th:href="@{/createacc}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            Create account
                        </button>
                    </a>
                    <a th:href="@{/enqacct}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            View account details
                        </button>
                    </a>
                    <a th:href="@{/updateacc}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            Update account details
                        </button>
                    </a>
                    <a th:href="@{/delacct}">
                        <button class="bx--btn bx--btn--primary" type="button">
                            Delete Account
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>