<!DOCTYPE html>
<!--                                                                 -->
<!--  Copyright IBM Corp. 2022                                       -->
<!--                                                                 -->
<!--                                                                 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/carbon-components/css/carbon-components.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>List Accounts</title>
</head>

<body>
    <a th:href="@{/}">
        <button class="bx--btn bx--btn--primary" type="button">
            Home
        </button>
    </a>
    <div class="main-body">
        <div class="centre">
            <form class="bx--form-item form" action="/listacc" th:action="@{/listacc}"
                th:object="${customerEnquiryForm}" method="post">
                <table>
                    <tr>
                        <td>
                            <h1>List Accounts belonging to Customer</h1>
                        </td>
                    </tr>
                    <tr>
                        <td>Customer number:</td>
                        <td><input class="bx--text-input" type="number" th:field="*{custNumber}" /></td>
                        <td class="danger" th:if="${#fields.hasErrors('custNumber')}" th:errors="*{custNumber}">Customer
                            Number Error</td>
                    </tr>
                    <tr>
                        <td><button class="bx--btn bx--btn--primary" type="submit">Submit</button></td>
                    </tr>
                </table>
            </form>
            <div class="results-box" th:if="${results == true}">
                <h1 th:text="${largeText}" />
                <p th:text="${smallText}" />
                <tr th:each="account: ${accounts}">
                    <p class="results-box" style="width: auto;"
                        th:utext="${#strings.replace(#strings.escapeXml(account.toPrettyString()),'&#10;','&lt;br&gt;')}" />
                </h1>
                </tr>
            </div>
        </div>
    </div>
</body>

</html>