.landing-page__r2 .cds--tabs--scrollable {
  transform: translateZ(0);
  justify-content: flex-end;
}

.landing-page__r2 .cds--tab-content {
  padding: 0;
}

.cds--tab--list {
  justify-content: flex-end;
  padding-right: 1rem;
}

.cds--subgrid--wide {
  //fix needed to keep the subgrid from scrolling horizontally
  margin-right: 1rem;
}
.cds--number__input-wrapper {
  width: 222px;
}

.cds--data-table-container{
  position: relative;
}

.cds--header__name.white-background {
  color: transparent;
  padding: 0 0 0 0;
}

.modal-button-customer {
  width: 90%;
  height: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
}

.modal-button-customer:hover {
  width: 90%;
  height: 100%;
  background-color: red;
  border-top: 1px solid #e0e0e0;
}

.modal-button {
  width: 100%;
  height: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
}

.modal-button:hover {
  width: 100%;
  height: 100%;
  background-color: red;
  border-top: 1px solid #e0e0e0;
}

.cds--css-grid-column {
  margin-left: 0px;
  margin-right: 35px;
}

.cds--header__name.header-submit {
  height: 48px;
  width: 135px;
  background-color: #0f62fe;
  color: white;
}
